
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');


body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

/* Hace que el body ocupe toda la altura y se comporte como un contenedor flexible */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* El main se expande para ocupar el espacio entre header y footer */
main {
  flex: 1;
}

nav {
  width: 100%;
  background-color: #fff;
  padding-top: 0.2rem;
  padding-left: 8vw;
  padding-right: 8vw;
  padding-bottom:  0.2em;
  border-bottom: 0.1vh solid #823c85;
  box-sizing: border-box;
  align-items: center;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* IZQUIERDA: logo + iconos */
.nav-left {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.nav-logo img {
  height: 8vh;
  padding-top: 0;
  padding-bottom: 0;
}

/* Iconos al lado del logo */
.nav-icons {
  align-items: center;
  display: flex;
  gap: 0.1vw;
  font-size: 1.5vw;

}

.nav-icons a {
  border-radius: 40%;
  text-decoration: none;
  transition: color 0.3s ease;
}
.nav-icons a:hover {
  background-color: #ebebeb;
}


/* DERECHA: menú */


.nav-menu {
  list-style: none;
  display: flex;
  gap: 0.5vw;
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
  

}

.nav-menu li a {
  color: #823c85;
  text-decoration: none;
  transition: color 0.3s ease;
  padding: 3.3vh 3vw;
  margin: 0;
  
  
}

.nav-menu li a:hover {
  color: #fff;
  background-color: #823c85;
  text-decoration: none;
}

.carrusel {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
  margin: 0;
  background: #000;
}
.slides {
  display: flex;
  width: 300vw; /* 3 slides x 100vw */
  height: 100vh;
  margin: 0;
  transition: transform 0.5s ease-in-out;
}
.slide {
  position: relative;           /* Para posicionar el contenido encima */
  width: 100vw;
  height: 100 vh;                /* altura fija, la podemos ajustar */
  background-size: cover;       /* La imagen de fondo cubre todo */
  background-position: center;  /* Centra la imagen */
  background-repeat: no-repeat;
  display: flex;                /* Para centrar contenido */
  justify-content: center;      /* Horizontalmente */
  align-items: center;          /* Verticalmente */
  color: white; 
  z-index: 1;                /* Texto claro sobre fondo oscuro */
}
.slide {
  background-image: url('imagenes/encabezado-2.jpg');
  background-color: rgba(37, 167, 102, 0.61); /* el morado */
  background-blend-mode: multiply;  /* combina el color con la imagen */
}
.enlace-slide {
  text-decoration: none;
  color: inherit;
}

.enlace-slide h1 {
  text-decoration: none;
  color: white;  /* o el color que vos quieras */
}
/* Contenido centrado dentro del slide */
.contenido-slide {
  text-align: center;
  justify-content:center ;
  max-width: 90%;               /* Que no ocupe todo el ancho */
  z-index: 2;                   /* Que esté encima del fondo */
}

.encabezado-slide {
  display: flex;
  align-items: center;  /* centra verticalmente */
  gap: 15px;            /* espacio entre logo y texto */
  justify-content: center;  /* centrado horizontal */
}
.encabezado-slide h1 {
  text-align: left;
  font-weight: bold;
}

.imagen1{
  width: 30rem;
  height: 10rem;
}
.imagen2{
  width: 25rem;
  height: 25rem;
  padding-bottom: 10rem;
}
.encabezado-slide3 {
  display: flex;
  align-items: center;  /* centra verticalmente */
  gap: 25px;            /* espacio entre logo y texto */
  justify-content: center;  /* centrado horizontal */
  padding-left: 20rem;
}
.encabezado-slide3 h1 {
  text-align: left;
  font-weight: bold;
}

/* Logo dentro del contenido */
.logo-NDF {
  max-width: 350px;             /* Ajusta tamaño del logo */
  margin-bottom: 20px;         /* Espacio abajo del logo */
}


/* Texto principal */
.contenido-slide h1 {
  font-size: 3rem;
  margin-top: 0;
  text-decoration: none;  /* quita el subrayado */
  color: white;   
}

.texto-slide h2 {
  position: absolute;
  bottom: 250px;   /* ajustá la distancia a gusto */
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  color: white;
  font-size: 1.8rem;
}


/* Botones */
.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.4);
  color: white;
  border: 2rem;
  border-color: #fff;
  padding: 1rem;
  font-size: 3rem;
  cursor: pointer;
  z-index: 100;
  user-select: none;
  transition: background-color 0.3s;
}
.prev:hover, .next:hover {
  background-color: white;
  color: #823c85;
}
.prev { left: 6rem; }
.next { right: 6rem; }

.prev.disabled,
.next.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}


/* Indicadores */
.indicadores {
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 0.5rem;
  z-index: 100;
}
.indicadores button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: background-color 0.3s;
}
.indicadores button.activo {
  background-color: white;
}

/*cuerpo de la pagina principal*/
.cuerpo {
  display: grid;
  grid-template-columns: 2fr 1fr; /* novedades 2 partes, prensa 1 parte */
  grid-template-rows: auto; /* una sola fila */
  gap: 2rem;
  padding: 1rem;
}
.novedades {
  background-color: #9f96d1;
  grid-column: 1 / 2; /* primera columna del grid */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  padding: 1rem;
  gap:1rem;
}
.novedades div{
  background-color: #fff;
}
.prensaynotas {
  grid-column: 2/ 3; /* segunda columna del grid */
  background-color: #3c856f;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

/*footer*/

footer {
  width: 100%;
  background-color: #fff;
  padding: 1rem 8vw;
  border-top: 1px solid #823c85;
  box-sizing: border-box;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  position: relative;
}

.footer-left {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
  margin: 0;
}

.foot-arriba-izquierda,
.foot-abajo-izquierda {
  margin: 0;
}
.foot-arriba-izquierda {
  display: flex;
  gap: 0.5rem; /* agrega espacio entre íconos */
}

.foot-arriba-izquierda a {
  display: flex; /* importante */
  align-items: center;
  justify-content: center;
  border-radius: 40%;
  width: 50px;
  height: 50px;
  transition: background-color 0.3s ease;
}
.foot-abajo-izquierda {
  display: flex;
  gap: 0.1rem; /* más espacio entre los botones */
  font-size: 1rem; /* agranda el texto */
}
.foot-arriba-izquierda img {
  width: 50px;
  height: 50px;
}

.foot-arriba-izquierda a:hover{
  background-color: #ebebeb;
  text-decoration: none;
}


.foot-abajo-izquierda a{
  color: #823c85;
  text-decoration: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.3rem;
  padding-left: 0.3rem;
  transition: background-color 0.3s ease;
  align-items: center;
  justify-content: center; /* centra horizontalmente */
  text-align: center;
}

.foot-abajo-izquierda a:hover{
  color: #fff;
  background-color: #823c85;
  text-decoration: none;
}

.foot-centro {
  flex: 1;
  text-align: center;
  display: flex;
  font-size: 1rem;
  flex-direction: column;
  padding-top: 2rem;
}
.foot-centro p{
 margin: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: inline-flex;
}

.footer-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center; /* centra verticalmente logo y texto */
  gap: 0.2rem; /* espacio entre logo y texto */
  text-align: right;
}

.logo-posicion {
  height: 75px; /* más grande */
  padding-top: 1rem;
}

.nombre {
  color: #823c85;
  font-size: 1.5rem; /* más grande */
  font-weight: 500;
  margin: 0; /* elimina márgenes extra del <p> */
  padding-top: 1rem;
}
.libertate{
  text-decoration: none;
  padding-left: 0.2rem;
  color: #823c85;
}
/* Responsive */


  @media (max-width: 768px) {

    nav {
    width: calc(100% - 0.2rem); /* se restae l margen que querés */
    margin-right: 0.2rem;
    margin-left: 0.1rem;
    padding-left: 0;
    padding-right: 0;
  }  
  .nav-container {
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    width: 100%;
  }

  .nav-left {
    flex-direction: row;
    gap: 1.5vw;
  }

  .nav-menu {
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .nav-menu li {
    margin: 0;
    padding: 0;
    width: 100%; /* Hace que cada li ocupe todo el ancho */
  }

  .nav-menu li a {
    display: block;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 1.05rem 0;
    color: #823c85;
    background-color: white;
    border-radius: 6px;
    margin-bottom: 0rem;
    transition: background-color 0.1s ease;
  }

  .nav-menu li a:hover {
    background-color: #823c85;
    color: white;
  }

  .nav-icons {
    display: none;
    width: 100%;
  }
  .logo-posicion {
    height: 80px;
  }

  .nombre {
    font-size: 1.8rem;
    text-align: left;
  }

.footer-container{
  flex-direction:column ;
}

.foot-centro {
  display: inline-flex;
  flex: 1;
  font-size: 1rem;
  width: 100%;
  flex-direction: column;
  padding-top: 1rem;
  
}
.foot-centro p{
margin: 0;
 text-align: center;
  align-items: center;
  justify-content: center;
  display: inline-flex;
}
.footer-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  flex: 1;
  width: 100%;
}
.foot-abajo-izquierda{
  width: 100%;
  text-align: center;
}
.foot-abajo-izquierda a{
  font-size: 0.8rem;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  }
}